{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.password) }}
    {{ form_end(registrationForm) }}

    <p>
        <a href="{{ path('app_login') }}">Already have an account? Log in</a>
    </p>
{% endblock %}
