{% extends 'base.html.twig' %}

{% block title %}{{ 'form.edit_pot'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'form.edit_pot'|trans }}</h1>

    {{ include('pot/_form.html.twig', {'button_label': 'form.update'|trans}) }}

    <a href="{{ path('app_pot_index') }}">{{ 'form.back_to_list'|trans }}</a>

    {{ include('pot/_delete_form.html.twig') }}
{% endblock %}
