{% extends 'base.html.twig' %}

{% block title %}{{ 'form.create_pot'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'form.create_pot'|trans }}</h1>

    {{ include('pot/_form.html.twig') }}

    <a href="{{ path('app_pot_index') }}">{{ 'form.back_to_list'|trans }}</a>
{% endblock %}
