{% extends 'base.html.twig' %}

{% block title %}Cactus{% endblock %}

{% block body %}
    <h1>Cactus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cactu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cactu.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cactu.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ cactu.prix }}</td>
            </tr>
            <tr>
                <th>NiveauSoin</th>
                <td>{{ cactu.niveauSoin }}</td>
            </tr>
            <tr>
                <th>Arrosage</th>
                <td>{{ cactu.arrosage }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ cactu.taille }}</td>
            </tr>
            <tr>
                <th>Vendeur</th>
                <td>{{ cactu.vendeur ? cactu.vendeur.pseudo : 'N/A' }}</td>
            </tr>
            <tr>
                <th>Date expiration</th>
                <td>{{ cactu.dateExpiration ? cactu.dateExpiration|date('Y-m-d H:i') : 'Aucune' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="action-btns">
        <a href="{{ path('app_cactus_index') }}" class="action-link">back to list</a>
        <a href="{{ path('app_cactus_edit', {'id': cactu.id}) }}" class="action-link">edit</a>

        {% if app.user %}
            <form action="{{ path('app_cactus_favorite', {'id': cactu.id}) }}" method="post" style="display:inline">
                <input type="hidden" name="_token" value="{{ csrf_token('favorite' ~ cactu.id) }}">
                <button type="submit" class="btn btn-secondary">
                    {{ cactu in app.user.favorites ? 'Retirer des favoris' : 'Ajouter aux favoris' }}
                </button>
            </form>
        {% endif %}
    </div>

    {{ include('cactus/_delete_form.html.twig') }}
{% endblock %}
