{% extends 'base.html.twig' %}

{% block title %}{{ 'form.edit_categorie'|trans }}{% endblock %}

{% block body %}
    <div class="section-header">
        <h1>📂 {{ 'form.edit_categorie'|trans }}</h1>
    </div>

    {{ include('categorie/_form.html.twig', {'button_label': 'form.update'|trans}) }}

    <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary">{{ 'form.back_to_list'|trans }}</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
