<nav class="main-menu">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_cactus_index') }}">Cactus</a></li>
        <li><a href="{{ path('app_pot_index') }}">Pot</a></li>
        <li><a href="{{ path('app_categorie_index') }}">Catégorie</a></li>
        <li><a href="{{ path('app_terreau_index') }}">Terreau</a></li>
    </ul>
</nav>
